// Variables

// Typography
$heading-font: 'Playfair Display', serif;
$body-font: 'Open Sans', sans-serif;

//Colours
$green: #92B851;
$dark-green: #2D3819;
$light-grey: #DCDCDC;
$dark-grey: #333333;

//Padding & Margins

$main-spacing: 1.6rem;

//Transitions

$main-transition: 0.5s ease-in-out;