/* Buttons */

button {
  padding: $main-spacing;
  border: none;
  border-radius: 5rem;
  margin: 1rem 0;
  width: fit-content;
  background-color: $green;
  transition: $main-transition;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: $light-grey;
}

/* Back To Top Button */

#back-to-top-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#back-to-top {
  position: fixed;
  bottom: 1rem;
  display: none;

  i {
    margin: 0;
  }
}