// About Page

.about-page, .reiki-page, .hypnotherapy-page, .contact-page {
  text-align: center;
  padding: ($main-spacing * 2) 0;

  h2 {
    text-align: center;
  }
  
  p {
    text-align: justify;
  }

  li {
    text-align: left;
  }
}

// Reiki Page

.reiki-pricing {
  p {
    text-align: center;
  }
  
  button {
    margin-top: ($main-spacing * 2);
  }
}